{% extends "admin/index.html" %}
{% load i18n grp_tags %}
{% block stylesheets %}
	{{block.super}}
	<link rel="stylesheet" href="{{ STATIC_URL }}analyze/style.css" />
{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script>
        google.load('visualization', '1', {packages:['corechart']});

        google.setOnLoadCallback(drawPlots);
        
        function drawPlots() {
        	(function($) {
	            	var plots = [
	            	{% for plot in plots %}
	            		{
	            			title: '{{plot.option.title}}', 
	            			data: {{plot.getJson}},
	            			options: {{ plot.option |safe}}
	            		},
	            		
	            	{% endfor %}
	            	];
	            	
	            	for (var i = 0; i < plots.length; i++) {
	            		var plot = plots[i];
	            		var plotId = "plot" + i;
	            		
	            		//$( "#plotContrainer" ).append( "<h3>" + plot.title + "</h3><div id='" + plotId + "'></div>" );
	            		$( "#plotContrainer" ).append( "<div style='page-break-after:always' id='" + plotId + "'></div>" );
	            		
	            		var chart = new google.visualization.ScatterChart(document.getElementById(plotId));
	            		var data = new google.visualization.DataTable(plot.data, 0.6);
	            		chart.draw(data, plot.options)
	            	}
	         })(grp.jQuery);
        }

    </script>
{% endblock %}


<!-- BREADCRUMBS -- >
{% if not is_popup %}
    {% block breadcrumbs %}
        <ul class="grp-horizontal-list">
            <li><a href="../../">{% trans "Home" %}</a></li>
            <li><a href="../">{% trans app_label|capfirst|escape %}</a></li>
            <li>{{ view_label|capfirst }}</li>
        </ul>
    {% endblock %}
{% endif %}

{% block content %}
   <div class="g-d-c">
         <H1>Tolerance Selection</H1>
        
		
		
		<form method="post" action="./">{% csrf_token %}{{ formset.management_form }}
		    <table>
		        <tr>
		        {% for form in formset %}
		        	<td>
			        	<table>
			        	{{ form }}
			        	</table>
		        	</td>
		        {% endfor %}
		        </tr>
		        <tr>
		        	<td>{{designform}}</td>
		        </td>
		    </table>
		<input type="submit" value="Submit" />
		</form>
		
		<table>
		{% for PCData in PCDatas %}
			<tr>
				<td>{{PCData.Title}}</td><td>{{PCData.ITG_90}}</td><td>{{PCData.PCSL}}</td>
			</tr>
		{% endfor %}
		</table>
		
		
		<div id='plotContrainer'></div>
		
		<br />
       
        <pre style="font-family: monospace;">{{ table }}</pre>
        <br />
        {% for measurements_set in measurement_sets%}
            <ul>
                <li>{{ measurements_set.itg_pcsl }}, {{ measurements_set.material.name }}, {{ measurements_set.process.name }}, {{measurements_set.specification_type}}</li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}