{% extends "admin/index.html" %}
{% load i18n grp_tags %}

{% block javascripts %}
    {{ block.super }}
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script>
        google.load('visualization', '1', {packages:['corechart']});

        google.setOnLoadCallback(drawTable);
        function drawTable() {
            var json_chart = new google.visualization.ScatterChart(document.getElementById('chart_div_json'));
            var json_data = new google.visualization.DataTable({{json}}, 0.6);
            var options = {
                    title: 'Line of Best Fit(Trend Line)',
                hAxis: {
                    title: 'IT grade',
                    // minValue: 0,
                    // maxValue: 15
                },
                vAxis: {
                    title: 'Cumilative frequency',
                    // minValue: 0,
                    // maxValue: 15
                },
                legend: 'none',
                series: {
                    // series 0 is the Scatter
                    0: {
                        // you can omit this if you choose not to set any options for this series
                    },
                    // series 1 is the Line
                    1: {
                        lineWidth: 2,
                        pointSize: 0,
                        color: 'red',
                        enableInteractivity: false,
                        tooltip: 'none'
                    },
                    2: {
                        lineWidth: 1,
                        pointSize: 0,
                        color: 'blue',
                        enableInteractivity: false,
                        tooltip: 'none'
                    },
                    3: {
                        lineWidth: 1,
                        pointSize: 0,
                        color: 'blue',
                        enableInteractivity: false,
                        tooltip: 'none'
                    }
                },
                // colors: ['blue', 'red', 'blue', 'blue']
            };

            json_chart.draw(json_data, options);
        }
    </script>
{% endblock %}


<!-- BREADCRUMBS -- >
{% if not is_popup %}
    {% block breadcrumbs %}
        <ul class="grp-horizontal-list">
            <li><a href="../../">{% trans "Home" %}</a></li>
            <li><a href="../">{% trans app_label|capfirst|escape %}</a></li>
            <li>{{ view_label|capfirst }}</li>
        </ul>
    {% endblock %}
{% endif %}

{% block content %}
   <div class="g-d-c">
         <H1>Tolerance Selection</H1>
        <div id="chart_div_json"></div>
        <pre style="font-family: monospace;">{{ table }}</pre>
        <br />
        {% for measurements_set in measurement_sets%}
            <ul>
                <li>{{ measurements_set.measurement_itg }}, {{ measurements_set.material.name }}, {{ measurements_set.process.name }}</li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}