{% extends "admin/index.html" %}
{% load url from future %}
{% load i18n grp_tags %}

{% block javascripts %}
    {{ block.super }}
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script>
        google.load('visualization', '1', {packages:['corechart']});

        google.setOnLoadCallback(drawPlots);
        
        function drawPlots() {
        	(function($) {
	            	var plots = [
	            	{% for plot in plots %}
	            		{
	            			title: '{{plot.option.title}}', 
	            			data: {{plot.getJson}},
	            			options: {{ plot.option |safe}}
	            		},
	            		
	            	{% endfor %}
	            	];
	            	
	            	for (var i = 0; i < plots.length; i++) {
	            		var plot = plots[i];
	            		var plotId = "plot" + i;
	            		
	            		//$( "#plotContrainer" ).append( "<h3>" + plot.title + "</h3><div id='" + plotId + "'></div>" );
	            		$( "#plotContrainer" ).append( "<div style='page-break-after:always' id='" + plotId + "'></div>" );
	            		
	            		var chart = new google.visualization.ScatterChart(document.getElementById(plotId));
	            		var data = new google.visualization.DataTable(plot.data, 0.6);
	            		chart.draw(data, plot.options)
	            	}
	         })(grp.jQuery);
        }

    </script>
{% endblock %}

<!--#firstitg_chart.draw(firstitg_data, firstitg_options);-- >

<!-- BREADCRUMBS -- >
{% if not is_popup %}
    {% block breadcrumbs %}
        <ul class="grp-horizontal-list">
            <li><a href="../../">{% trans "Home" %}</a></li>
            <li><a href="../">{% trans app_label|capfirst|escape %}</a></li>
            <li>{{ view_label|capfirst }}</li>
        </ul>
    {% endblock %}
{% endif %}


{% block content %}
<div class="g-d-c">
	<div id='plotContrainer'></div>
</div>

{% endblock %}