{% extends "admin/index.html" %}
{% load url from future %}
{% load i18n grp_tags %}

{% block javascripts %}
    {{ block.super }}
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script>
        google.load('visualization', '1', {packages:['corechart']});

        google.setOnLoadCallback(drawTable);
        function drawTable() {
            var itg_chart = new google.visualization.ScatterChart(document.getElementById('chart_div_itg'));
            var itg_data = new google.visualization.DataTable({{json1}}, 0.6);
            var options = {{option1|safe}};

            itg_chart.draw(itg_data, options);
        }
    </script>
{% endblock %}

<!-- BREADCRUMBS -- >
{% if not is_popup %}
    {% block breadcrumbs %}
        <ul class="grp-horizontal-list">
            <li><a href="../../">{% trans "Home" %}</a></li>
            <li><a href="../">{% trans app_label|capfirst|escape %}</a></li>
            <li>{{ view_label|capfirst }}</li>
        </ul>
    {% endblock %}
{% endif %}


{% block content %}
<div class="g-d-c">
    <h1> Hello world </h1>
    <div id="chart_div_itg"></div>
</div>
{% endblock %}