{% extends "admin/index.html" %}
{% load url from future %}
{% load i18n grp_tags %}

{% block javascripts %}
    {{ block.super }}
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script>
        google.load('visualization', '1', {packages:['corechart']});

        google.setOnLoadCallback(drawTable);
        function drawTable() {
            var itg_chart = new google.visualization.ScatterChart(document.getElementById('chart_div_itg'));
            var itg_data = new google.visualization.DataTable({{json1}}, 0.6);
            var itg_options = {{option1|safe}};
            itg_chart.draw(itg_data, itg_options);
          
            var totalitg_chart = new google.visualization.ScatterChart(document.getElementById('chart_div_totalitg'));
            var totalitg_data = new google.visualization.DataTable({{json2}}, 0.6);
            var totalitg_options = {{option2|safe}};
            totalitg_chart.draw(totalitg_data, totalitg_options);
       
            var totalcp_chart = new google.visualization.ScatterChart(document.getElementById('chart_div_totalcp'));
            var totalcp_data = new google.visualization.DataTable({{json3}}, 0.6);
            var totalcp_options = {{option3|safe}};
            totalcp_chart.draw(totalcp_data, totalcp_options);
        }
    </script>
{% endblock %}

<!--#firstitg_chart.draw(firstitg_data, firstitg_options);-- >

<!-- BREADCRUMBS -- >
{% if not is_popup %}
    {% block breadcrumbs %}
        <ul class="grp-horizontal-list">
            <li><a href="../../">{% trans "Home" %}</a></li>
            <li><a href="../">{% trans app_label|capfirst|escape %}</a></li>
            <li>{{ view_label|capfirst }}</li>
        </ul>
    {% endblock %}
{% endif %}


{% block content %}
<div class="g-d-c">
    <h1> Hello world </h1>
    <div id="chart_div_itg"></div>
    <div id="chart_div_totalitg"></div>
    <div id="chart_div_totalcp"></div>
</div>

{% endblock %}