{% extends "admin/index.html" %}
{% load i18n grp_tags %}

{% block javascripts %}
    {{ block.super }}    
      <script src="https://www.google.com/jsapi" type="text/javascript"></script>
      <script>
        google.load('visualization', '1', {packages:['corechart']});

        google.setOnLoadCallback(drawTable);
        function drawTable() {

          var json_table = new google.visualization.LineChart(document.getElementById('table_div_json'));
          var json_data = new google.visualization.DataTable({{json}}, 0.6);
         
          var options = {{option|safe}};

          json_table.draw(json_data, options);
        }
      </script>
{% endblock %}




<!-- BREADCRUMBS -- >
{% if not is_popup %}
    {% block breadcrumbs %}
        <ul class="grp-horizontal-list">
            <li><a href="../../">{% trans "Home" %}</a></li>
            <li><a href="../">{% trans app_label|capfirst|escape %}</a></li>
            <li>{{ view_label|capfirst }}</li>
        </ul>
    {% endblock %}
{% endif %}

{% block content %}

    <H1>Process Parameters</H1>
    <div id="table_div_json"></div>

    <form method="GET">
    Upper Tolerance: [mm] <input type="text" name="upper" value={{upper}}><br/>
    Lower Tolerance: [mm] <input type="text" name="lower" value={{lower}}><br/>
    <input type="submit" value="Update graph" />
    </form><br/><br/>
    
    <center><pre style="font-family: monospace;">{{ table }}</pre></center>
{% endblock %}